<header>
  <ul>
    <li> <a [routerLink]="[ '/sobre-mi']" routerLinkActive="active-link">Sobre mí</a></li>
    <li> <a [routerLink]="[ '/proyectos']" routerLinkActive="active-link">Proyectos</a></li>
    <li id="logo"><a href="#">LH</a></li>
    <li> <a [routerLink]="[ '/crear-proyecto']" routerLinkActive="active-link">Crear proyecto</a></li>
    <li> <a [routerLink]="[ '/contacto']" routerLinkActive="active-link">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Desarrollado por Leonardo Fabián Hernández Peña &copy;
</footer>
