<div id="title">
  <h1> {{title}} </h1>
  <h2> {{subtitle}} </h2>
  <p> {{email}} </p>
</div>

<article class="about">
  <h2>Sobre Mí</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et congue ex, ac imperdiet justo. Nullam vel
    tincidunt urna, in volutpat urna. Fusce quis orci in nulla rhoncus tincidunt vitae a mauris. Morbi pharetra risus
    vel dictum volutpat. Curabitur maximus, nunc quis euismod cursus, justo ipsum luctus ante, sed consequat neque mi et
    metus. Vivamus ligula ex, rutrum sed sagittis non, porta eget justo. Sed vel convallis mi. Vivamus interdum euismod
    neque nec sollicitudin. Nullam non pulvinar turpis.
  </p>
  <p>
    Aliquam blandit sagittis tempus. Pellentesque pulvinar, nulla a dapibus placerat, purus ex pulvinar urna, eu
    consequat ligula eros eget ligula. Morbi quis metus luctus, molestie ex quis, semper enim. Duis enim ligula, pretium
    vitae metus a, scelerisque scelerisque neque. Aenean sollicitudin tellus lectus, in mollis lacus finibus id. Nam
    volutpat lorem eget turpis cursus, quis fermentum mauris ornare. Donec congue mi vitae metus sagittis, eget
    fringilla mi pellentesque. Morbi vitae risus neque. Sed eleifend iaculis ex, non venenatis risus ornare in.
  </p>
</article>