<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}} </h2>
  <p> {{email}} </p>
</div>

<article class="about">
  <h2>Sobre Mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis massa consequat, mollis diam vitae, rhoncus
    risus. Phasellus dui mauris, elementum id gravida quis, congue sed arcu. Nullam egestas diam vel justo accumsan, nec
    fermentum ipsum sagittis. Pellentesque velit dolor, fermentum vitae semper sed, mattis vel leo. Nam non ipsum et
    diam aliquam dapibus id quis lorem. Sed eleifend sodales nulla, vitae fermentum justo posuere eu. Suspendisse non
    justo a libero imperdiet laoreet. Donec dapibus tincidunt magna, id iaculis nibh. Maecenas in elit in justo auctor
    facilisis. Aenean dictum odio eget accumsan ultrices.
  </p>
</article>