<h2>{{titulo}}</h2>
<p>{{listado}}</p>

<button (click)="cambiarTitulo()">Cambiar titulo</button>
<ul>
  <li>Grand Theft Auto</li>
  <li>God Of War</li>
  <li>Horizon Zero Dawn</li>
  <li>The Last of Us</li>
  <li>Shadow of mordor</li>
</ul>
<!-- <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar componente</button> -->


<!-- <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->
<zapatillas></zapatillas>
