
<header>
  <ul>
    <li><a [routerLink]="[ '/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mí</a></li>
    <li><a [routerLink]="[ '/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">LH</a></li>
    <li><a [routerLink]="[ '/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
    <li><a [routerLink]="[ '/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  Esta maquetación se ha realizado mediante Angular por Leonardo Fabián Hernández Peña &copy;
</footer>
